[Unit]
Description=Dolianova water pump system

[Service]
Type=simple
ExecStart=/usr/local/bin/dolianova
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target